<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/nav')%>
    </header>
</body>

</html>